<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
 {% if user.is_authenticated %}
        <b>Welcome {{user}}</b>
            <p>Logged in as <strong>{{user.username}}</strong>.<a href="{% url 'UserApp:logout' %}">Logout</a></p>
        {% else %}
            <a href="{% url 'UserApp:login' %}">Log in</a>
            <a href="{% url 'UserApp:signup' %}">Sign up</a>
        {% endif %}
        {% block content %}
        {% endblock %}
</body>
</html>